{% extends 'base.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'compare.css' %}">
    <div class="select_election">
        <span>
            선거 선택
        </span>
        <button type="button" class="election_button">
            제21대 국회의원선거
        </button>
        <button type="button">
            제20대 대통령선거
        </button>
        <br><br>
        <a>
            비교 후보자 선택
        </a>
        <a>

        </a>
    </div>

    <div>

    </div>

{% endblock %}