{% extends 'base.html' %}

{% block content %}
<div class="black-container">
    <div class="container1">
        <div class="box">
            <div class="ment-1">
            </div>
            <div class="ment-1">
            </div>
            <div class="ment-1">
            </div>
        </div>
        <div class="ment-2">
            <b>"선거 공약"</b>
        </div>
    </div>
    <div class="ment-3">
        / 내가 알고 싶은 것만,<br>
        <b>한 눈에</b> 비교할 수는 없을까 ?<br>
        누가 더 내게 나은 후보일까? /
    </div>

    <div>


    </div>
</div>

<div class="white-container">

    <div>
        당신의 후보, 지금 Who Better?에서 따져보세요.
    </div>
    <div class="buttons buttons2">
      <button type="button" class="button7">비교해보기</button>
    </div>
    <div>
        Who Better? 는 중앙선거위원회 공식 사이트와 구글 트렌드를 기반으로 <br>
        후보 별 주요 공약의 비교, 검색 빈도 비교 기능을 제공합니다.
    </div>

</div>
{% endblock %}