.header_size {
    margin-top: 2.0rem;
    margin-bottom: 1rem;
    margin-left:1.2rem;
}

.logo {
    width: 250px;
}

.menu {
    margin-right: 1rem;
}

.menu:hover {
    color: var(--point-color);
}

.header_nav {
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

@media (max-width:768px) {
    .logo {
        width: 150px;
    }
    .menu {
    margin-right: 0.5rem;
    }
    .header_nav {
    text-align: right;
    margin-bottom: 0.2rem;
    }
}