.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

.candi-container {
    border: 1px solid gray;
    border-radius: 2rem;
    width: 40%;
    height: 20%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.candi-info {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.candi-info .info {
    padding-left: 1rem;
}

.image {
    width: 100px;
    height: 130px;
    background-color: blanchedalmond;
}

.dismiss {
    border: none;
    background-color: #fff;
    height: 1.5rem;
    width: 1.5rem;
}

li {
    list-style: none;
    padding-right: 1rem;
}

ul {
    padding: 0;
    padding-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}