:root {
  --text-color: #4E4E4E;
  --bg-color: #F5F5F5;
  --point-color: #CDE82D;
  --light-color: #C0C0C0;
  --dark-color: #7A7A7A;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

.candi-container {
    border: 1px solid var(--dark-color);
    border-radius: 2rem;
    height: 20%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.candi-info {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.candi-info .info {
    padding-left: 1rem;
}

.image {
    width: 100px;
    height: 130px;
    background-color: var(--light-color);
}

.dismiss {
    border: none;
    background-color: var(--bg-color);
    height: 1.5rem;
    width: 1.5rem;
}

li {
    list-style: none;
    padding-right: 1rem;
}

ul {
    padding: 0;
    padding-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}