
:root {
  --text-color: #4E4E4E;
  --bg-color: #F5F5F5;
  --point-color: #CDE82D;
  --light-color: #C0C0C0;
  --dark-color: #7A7A7A;
}

.select_election{
    margin-left:2rem;
    margin:1rem 1rem;
}

.election_button {
    background: var(--light-color);
    color:var(#FFFFFF);

}