
:root {
  --text-color: #4E4E4E;
  --bg-color: #F5F5F5;
  --point-color: #CDE82D;
  --light-color: #C0C0C0;
  --dark-color: #7A7A7A;
}

html {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-wrap: normal;
}

.select_election{
    margin:2rem 3rem;
    margin-left:2.5rem;

}

.congress_button {
    margin-right: 1rem;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border-radius: 5rem;
    font-size: 1rem;
    background: var(--light-color);
    color:var(--bg-color);
}

.president_button {
    margin-right: 1rem;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border-radius: 5rem;
    font-size: 1rem;
    background: var(--point-color);
    color:var(--text-color);
}

.plus_button{
    background:var(--point-color)
    border-radius: 5rem;
    border-color:var(--text-color);

}

.candidate_combo{
    margin-right: 1rem;
    width: 180px;
}

.promise_select{
    display:block;
    text-align:center;
    float: none;
    margin: 1rem auto;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border-radius: 5rem;
    font-size: 1rem;
    background: var(--light-color);
    color:var(--bg-color);
}


