<div class="container" id="{{ candidate.candi_con.candi_dep.pk }}">
    <div class="candi-container">
        <div class="candi-info">
            <div>
                <img class="image" src="">
            </div>
            <div>
                <div class="info">
                    <span class="candi-name"><b>{{ candidate.candi_con.candi_dep.name }}</b></span><br>
                    <span class="candi-party">{{ candidate.candi_con.candi_dep.party }}</span>
                    <p>{{ candidate.candi_con.candi_dep.slogan }}</p>
                </div>
            </div>
            <button class="dismiss" onclick="">X</button>
        </div>
        <div class="keywords">
            <ul>
                {{ candidate.candi_con.candi_dep.keyword }}
            </ul>
        </div>
    </div>
</div>