<div class="container" id="{{ candidate.candi_con.candi_dep.pk }}">
    <div class="candi-container">
        <div class="candi-info">
            <div style="display: flex;">
                <div >
                    <img class="image" style="border-radius: 1rem; border: none;" src="{{ candidate.candi_con.candi_dep.image.url }}">
                </div>
                <div class="info">
                    <span class="candi-name"><b>{{ candidate.candi_con.candi_dep.name }}</b></span><br>
                    <span class="candi-party">{{ candidate.candi_con.candi_dep.party }}</span>
                    <p>{{ candidate.candi_con.candi_dep.slogan  }}</p>
                </div>
            </div>
            <button class="dismiss" onclick="dismiss('{{ candidate.candi_con.candi_dep.name }}|{{ candidate.candi_con.candi_dep.pk }}')">X</button>
        </div>
        <div class="keywords">
            <ul>
                {{ candidate.candi_con.candi_dep.keyword | linebreaksbr }}
            </ul>
        </div>
    </div>
</div>